body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.clr-orange{
    color: orange;
}
.width-manage{
    width: 50%;
    padding-left: 5%;
}
.width-manage img{
    width: 80%;
}
a:hover{
    color:rgb(36, 33, 35);
    background-image: linear-gradient(red, orange);
    padding-bottom: 10px;
   }
.button-imp{
    color:whitesmoke;
    text-decoration: none;
    background-image:linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.page-format{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}